*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-color: #7789BC;
}

nav{
    width:100%;
    height: 75px;
    background-color: #b00b0b;
    color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    top:0;
    z-index: 1;
}

.logo{
    font-size: 20px;
    font-weight: 100;
    width:10%;
}

.search{
    width: 350px;
    height: 30px;
    background-color: #fff;
    display:flex;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 30px;
    align-items: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.search input{
    width: 200px;
    outline: none;
    border: none;
    font-weight: 300;
}

.search i{
    color:grey;
}

.menu{
    width: 45%;
    display: flex;
    justify-content: space-around;
    list-style: none;

}

.menu li{
    margin-left:20px;
}

.menu li a{
    font-size: 19px;
    color:white;
    text-decoration: none;
    transition: 0.3s, ease;
}

.menu li a:hover{
    color:#ccc;
}

.slogan{
    width: 100%;
    height:500px;
    display:flex;
    justify-content: space-between;
    padding: 100px;
}

#header{
    font-family: 'Times New Roman', Times, serif;
    font-size:120px;
    color:#fff;
    width:50%;
}
img{
    width: 100%;
    height: 100%;
}
#Picture{
    width: 35%;
    height: 300px;
}

h6{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    color:#b00b0b;
    padding:20px;
}

.main{
    border:1px solid black;
    height: 2000px;
}

.Best{
    display:flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 10px;
}

.jacket{
    height: 390px;
    width: 300px;
    border: 2px groove grey;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    position: relative;
}

.jacket .Winter{
    position: absolute;
    top: 0%;
    left: 0%;
}

.jacket .win{
    position: absolute;
    bottom: 0%;
    right: 0%;
    border: 1px groove goldenrod;
    border-radius: 20px;
    background-color: orange;
    height:20px;
}

.jacket .win a{
    text-decoration: none;
    color:white;
}